{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Update Car Data{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <form method="POST" action="{{ url_for('update_car', cid=car.carId )}}" class="form" role="form">
        {{ form.csrf_token }}
        <div class="form-group col-md-12">{{ wtf.form_field(
                                                        form.make, class='form-control',
                                                        value=car.make)
                                            }}</div>
        <div class="row">
            <div class="form-group col-md-12">{{ wtf.form_field(
                                                        form.model, class='form-control',
                                                        value=car.model)
                                                }}</div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">{{ wtf.form_field(
                                                    form.mileage, class='form-control',
                                                    value=car.mileage)
                                                }}</div>
            <div class="form-group col-md-6">{{ wtf.form_field(
                                                    form.color, class='form-control',
                                                    value=car.color)
                                                }}</div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">{{ wtf.form_field(
                                                    form.vin, class='form-control',
                                                    value=car.vin)
                                                }}</div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">{{ wtf.form_field(
                                                    form.condition, class='form-control',
                                                    value=car.condition)
                                                }}</div>
            <div class="form-group col-md-6">{{ wtf.form_field(
                                                    form.cost, class='form-control',
                                                    value=car.cost)
                                                }}</div>
            <div class="form-group col-md-6">{{ wtf.form_field(
                                                    form.price, class='form-control',
                                                    value=car.price)
                                                }}</div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">{{ wtf.form_field(
                                                    form.description, class='form-control',
                                                    value=car.description)
                                                }}</div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">{{ wtf.form_field(
                                                    form.pic1, class='form-control',
                                                    value=car.pic1)
                                                }}</div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">{{ wtf.form_field(
                                                    form.pic2, class='form-control',
                                                    value=car.pic2)
                                                }}</div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">{{ wtf.form_field(
                                                    form.pic3, class='form-control',
                                                    value=car.pic3)
                                                }}</div>
        </div>
<!--         <div class="row">
            <div class="form-group col-md-6">{{ wtf.form_field(
                                                    form.sold, class='form-control')
                                                }}</div>
            <div class="form-group col-md-6">{{ wtf.form_field(
                                                    form.sold_by, class='form-control',
                                                    value=car.sold_by)
                                                }}</div>
        </div> -->
        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-success" style="margin-top:10px; width: 100%;">Update Car</button>
        </div>
        </form>
    </div>
</div>
{% endblock content %}